POSTGRES_USER=${postgres_user}
POSTGRES_PASSWORD=${postgres_password}
N8N_PUBLISHED_PORT=${n8n_published_port}
N8N_HOST=${n8n_host}
N8N_WEBHOOK_URL=${n8n_webhook_url}
N8N_ENCRYPTION_KEY=${n8n_encryption_key}
N8N_POSTGRES_DB=${n8n_postgres_db}
N8N_POSTGRES_USER=${n8n_postgres_user}
N8N_POSTGRES_PASSWORD=${n8n_postgres_password}
